<div class="container">
  <h1 class="title">Informacion:</h1>
  <ul>
    <h2></h2>
    <li>Argumentos de entrada: <p>_:{{this.info.args._}}</p><p>p:{{this.info.args.p}} <p>port:{{this.info.args.port}}</p></p></li>
    <li>Nombre de plataforma: {{this.info.sistema}}</li>
    <li>Versión de node.js: {{this.info.nodeVersion}}</li>
    <li>Memoria total reservada (rss): {{this.info.memory}}</li>
    <li>Path de ejecución: {{this.info.path}}</li>
    <li>Process Id: {{this.info.processId}}</li>
    <li>Carpeta del proyecto: {{this.info.file}}</li>
  </ul>
</div>